h1 {
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
    margin: 0px;
    margin-left: 25%;
    margin-right: 25%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#game {
    background-color: skyblue;
    padding: 20%;
    margin: 0px;
    margin-top: 2.5px;
    margin-left: 25%;
    margin-right: 25%;
    border: 2px solid black;
}

#plane {
    position: absolute;
    height: 100px;
    width: 100px;
    margin-top: 16%;
    margin-left: 2%;
}

  canvas {
    position: absolute;
    width: 49.8%;
    margin-top: -24%;
    margin-left: -20%;
  }