h1 {
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
    margin: 0px;
    margin-left: 25%;
    margin-right: 25%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#game {
    background-color: skyblue;
    padding: 20%;
    margin: 0px;
    margin-left: 25%;
    margin-right: 25%;
    border: 2px solid black;
    table-layout: auto;
    position: relative;
}

#plane {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 90%;
    left: 50%;
}

  canvas {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
